<h2>Other scholarships</h2>
<ul>
  <li> <a href= "https://www.auf.org/ameriques/nouvelles/appels-a-candidatures/appel-candidatures-programme-de-bourses-dexemption-des-droits-de-scolarite-supplementaires-2024-quebec-canada/
    " target="_blank"> Programme de bourses d’exemption des droits de scolarité supplémentaires au Québec, Canada </a></li>
  <li> <a href= "https://mccallmacbainscholars.org/apply" target="_blank"> McCall MacBain Scholarship at McGill University</a></li>
  <li> <a href= "https://www.quebecmetiersdavenir.com/bourse-dexcellence/" target="_blank"> Métiers d'avenir Quebec </a></li>
  <li> <a href= "https://www.turkiyeburslari.gov.tr/applysteps" target="_blank">Turkish scholarships </a></li>
</ul>

<h2>Other immigration programs</h2>
<ul>
    <li> <a href= "https://dvprogram.state.gov/" target="_blank"> USA Diversity Lottery Program (Green Card)</a></li>
    <li> <a href= "https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/eligibility/federal-skilled-workers.html" target="_blank">Canada Federal Skilled Worker Program </a></li>
    <li> <a href= "https://www.quebec.ca/en/immigration/permanent/skilled-workers/regular-skilled-worker-program" target="_blank"> Quebec Regular Skilled Worker Program</a></li>
  </ul>










