<section class="py-16 bg-gray-100">
    <h2 class="text-3xl font-bold text-gray-800 text-center">My Projects</h2>
    <div class="mt-8 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-gray-800">Lunar Lander</h3>
            <p class="text-gray-600 mt-2">Lunar Lander using proximal policy optimization (PPO)</p>
            <img src="assets/nice.gif" alt="lunar lander" height="200" width="200">
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-gray-800">Warehouse Robot</h3>
            <p class="text-gray-600 mt-2">Moving boxes in a warehouse from an origin to a destination</p>
            <img src="assets/nice.gif" alt="lunar lander" height="200" width="200">
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-gray-800">Forest Explorer</h3>
            <p class="text-gray-600 mt-2">Finding a treasure in the forest using the closest path</p>
            <img src="assets/nice.gif" alt="lunar lander" height="200" width="200">
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-gray-800">Forest Explorer</h3>
            <p class="text-gray-600 mt-2">Finding a treasure in the forest using the closest path</p>
            <img src="assets/nice.gif" alt="lunar lander" height="200" width="200">
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-gray-800">Galaxy Explorer</h3>
            <p class="text-gray-600 mt-2">Using Kalman Fitlers to explore locate a spacecraft in the galaxy</p>
            <img src="assets/nice.gif" alt="lunar lander" height="200" width="200">
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h3 class="text-xl font-semibold text-gray-800">Drone Hover</h3>
            <p class="text-gray-600 mt-2">Drone hovering using PID</p>
            <img src="assets/nice.gif" alt="lunar lander" height="200" width="200">
        </div>
    </div>
</section>