<section class="projects-section">
    <h2 class="section-title">Reinforcement Learning Projects</h2>
  
    <div class="project-grid">
      <div class="project-card">
        <h3 class="project-title">DeepRacer</h3>
        <p class="project-description">Teaching a race car to race</p>
        <img src="assets/deepracer.gif" alt="DeepRacer project" class="project-image">
      </div>
      <div class="project-card">
        <h3 class="project-title">Lunar Lander</h3>
        <p class="project-description">Lunar Lander using proximal policy optimization (PPO)</p>
        <img src="assets/lunar-lander.gif" alt="Lunar Lander project" class="project-image">
      </div>
      <div class="project-card">
        <h3 class="project-title">OverCooker</h3>
        <p class="project-description">Chefs collaborating to cook meals</p>
        <img src="assets/overcooked.gif" alt="Overcooked project" class="project-image">
      </div>
    </div>
   </section>

<br>

<section class="projects-section">
    <h2 class="section-title">Robotics</h2>
  
    <div class="project-grid">
      <div class="project-card">
        <h3 class="project-title">Warehouse Robot</h3>
        <p class="project-description">Moving boxes in a warehouse from an origin to a destination</p>
        <img src="assets/warehouse.gif" alt="Warehouse robot" class="project-image">
      </div>
      <div class="project-card">
        <h3 class="project-title">Forest Explorer</h3>
        <p class="project-description">Finding a treasure in the forest using the closest path</p>
        <img src="assets/treasure.gif" alt="Forest Explorer" class="project-image">
      </div>
      <!-- <div class="project-card">
        <h3 class="project-title">Space Explorer</h3>
        <p class="project-description">Using Kalman Filters to locate a spacecraft in the galaxy</p>
        <img src="assets/space.gif" alt="Space Explorer" class="project-image">
      </div> -->
      <div class="project-card">
        <h3 class="project-title">Solar System</h3>
        <p class="project-description">Navigate the solar system by riding on asteroids</p>
        <img src="assets/solar_system.gif" alt="Solar System" class="project-image">
      </div>
    </div>
</section>
  