<div class="container">
  <h2>You can contact me here</h2>

    <div *ngIf="successMessage" class="alert success-alert">
    {{ successMessage }}
  </div>

  <form (ngSubmit)="submitForm()" #form="ngForm">
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      placeholder="Your name"
      required
      #nameField="ngModel"
    />
    <div class="error" *ngIf="nameField.invalid && nameField.touched">
      Name is required
    </div>

    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Your email address"
      required
      #emailField="ngModel"
    />
    <div class="error" *ngIf="emailField.invalid && emailField.touched">
      A valid email is required
    </div>

    <textarea
      name="message"
      [(ngModel)]="message"
      placeholder="Write your message here"
      required
      #messageField="ngModel"
    ></textarea>
    <div class="error" *ngIf="messageField.invalid && messageField.touched">
      Message is required
    </div>

    <button type="submit" [disabled]="form.invalid">Send</button>
  </form>
</div>

